#blocklyDiv {
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.blocklyTreeLabel {
    color: black;
    font-size: 20;
    font-weight: bold;
}

.blocklyToolboxContents {
    padding: 1em 0.8em 1em .8em;
}

.blocklyTreeRow {
    width: 150px;
    padding: 8px 0px 8px 0px;
    margin-bottom: 12px;
    border-radius: 5px;
    background-color: white;
}

.blocklySvg text {
    color: black;
}