#blocklyDiv {
    height: 92%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.blocklyTreeLabel {
    color: black;
    font-size: 20;
    font-weight: bold;
}

.blocklyToolboxContents {
    padding: .8em;
}

.blocklyTreeRow {
    width: 150px;
    padding: 8px 0px 8px 0px;
    margin-bottom: .5em;
    border-radius: 5px;
    background-color: white;
}