.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#codeButton {
    border: none;
    justify-content: center;
    align-items: center;
    padding: 10px 24px 10px 20px;
    margin-top: 22px;
    margin-right: 24px;
    width: 104px;
    height: 39px;
    background: #65A767;
    border-radius: 30px;
    float: right;
    color: white;
    font-weight: 900;
    font-size: 24;
}

#box {
    width: 122px;
    height: 100vw;
    float: left;
    background: #4C536D;
}

#box1 {
    width: 100%;
    height: 80px;
    background: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}